TURSO_DATABASE_URL=file:./dev.db
TURSO_AUTH_TOKEN=
AUTH_SECRET=cyberguard-super-secret-key-32-characters-minimum-length
AUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BLOB_READ_WRITE_TOKEN=
RESEND_API_KEY=
EMAIL_FROM=notifications@cyberguard.ai
AI_PROVIDER=mock
AI_API_KEY=
GOOGLE_SAFE_BROWSING_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
